

{% extends 'Administrator/base.html' %}
{% block content%}
    



   
                <!-- code block here -->
                <div class="tbl-div">
                    <h3>Bookings</h3>
                    <table class="table table-primary table-striped-columns table-hover">
                        <thead>
                            <tr class="table-success">
                              <th scope="col">#</th>
                              <th scope="col">Username</th>
                              <th scope="col">Train</th>
                              <th scope="col">Compartment</th>
                              <th scope="col">Seat No</th>
                              <th scope="col">Source</th>
                              <th scope="col">Destination</th>
                              <th scope="col">Journey Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>john deo</td>
                              <td>234101-jan shatabthi</td>
                              <td>1Ac</td>
                              <td>u-45</td>
                              <td>kasargode</td>
                              <td>kollam</td>
                              <td>01-01-2025</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>john deo</td>
                                <td>234101-jan shatabthi</td>
                                <td>1Ac</td>
                                <td>u-45</td>
                                <td>kasargode</td>
                                <td>kollam</td>
                                <td>01-01-2025</td>
                              </tr>
                            

                          </tbody>
                    </table>
                </div>
                <!-- code block ends -->
           {% endblock %}