{% extends 'Administrator/base.html' %}
{% block content%}

                <!-- code block here -->
                <div class="tbl-div">
                    <h3>Compartments</h3>
                    <button href="#" class="btn btn-primary add-btn" onclick="openModel()">Add new Compartment</button>
                    <table class="table table-primary table-striped-columns table-hover">
                        <thead>
                            <tr class="table-success">
                                <th scope="col">#</th>
                                <th scope="col">train No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Compartment</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>12234</td>
                                <td>Vande Bharath</td>
                                <td>A1</td>
                                <td>
                                    <a href="seats.html" class="btn btn-primary">View Seats</a>
                                    <a href="#" class="btn btn-primary" data-id="1" data-name="Vande Bharath"
                                        data-compartment="A1" data-train-number="12234" data-capacity="30" onclick="openEditCompartmentModal(this)">Edit</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <!-- Edit Modal -->
                <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="routeModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="routeModalLabel">Edit Compartment</h5>
                            </div>
                            <div class="modal-body">
                                <form id="StationForm" action="#">
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Train</label>
                                        <input type="text" class="form-control" id="name" name="name" readonly required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Compartment</label>
                                        <input type="text" class="form-control" id="compartment" name="compartment"  required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Seating Capacity</label>
                                        <input type="number" class="form-control" id="capacity" name="ccapacity"  required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Add Modal -->
                <div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="routeModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="routeModalLabel">Add New Train</h5>
                            </div>
                            <div class="modal-body">
                                <form id="StationForm" action="#">
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Train</label>
                                        <select name="train" id="train">
                                            <option value="">--select train--</option>
                                            <option value="">12234 - Vande Bharath</option>
                                            <option value="">10987 - train1</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Compartment</label>
                                        <input type="text" class="form-control" id="compartment" name="compartment"  required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Seating Capacity</label>
                                        <input type="number" class="form-control" id="capacity" name="ccapacity"  required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- code block ends -->
                
                {% endblock %}