
{% extends 'Administrator/base.html' %}
{% block content%}
    



     
            
                <!-- code block here -->
                <div class="tbl-div">
                    <h3>Users</h3>
                    <table class="table table-primary table-striped-columns table-hover">
                        <thead>
                            <tr class="table-success">
                              <th scope="col">#</th>
                              <th scope="col">Name</th>
                              <th scope="col">complaints</th>
                              <th scope="col"></th>
                            </tr>
                          </thead>
                          <tbody>
                           {% for i in b %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{i.USER_ID.Fullname}}</td>
                                <td>{{i.complaint}}</td>
                                <td>{{i.reply}}</td>
                               
                                <td>
                                   <a href="#" class="btn btn-primary">reply</a>
                                </td>
                              </tr>
                              {% endfor %}

                          </tbody>
                    </table>
                </div>
                <!-- code block ends -->
                {% endblock %}
            