{




      

            
                <!-- code block here -->
                <div class="view-div">
                    <div class="head">
                        <h5>Train Name: <span>Vande Bharath</span></h5>
                        <h5>Train No: <span>12234</span></h5>
                        <h5>Route: <span>Mangalore-Coimbatore</span></h5>
                    </div>
                    <div class="head">
                        <form action="#" style="text-align: center;">
                            <h4>Stations</h4>
                            <div class="status-div">
                              <!-- Loop here -->
                              <div class="status edit-status">
                                <label class="checkbox-container">
                                  <input class="custom-checkbox" type="checkbox" onchange="toggleTime(this)">
                                  <span class="checkmark"></span> Calicut
                                </label>
                                <div class="time create-time">
                                  <label class="text-success">Arrival: 
                                    <input type="time" name="arrival[]" id="">
                                  </label>
                                  <label class="text-danger">Departure: 
                                    <input type="time" name="departure[]" id="">
                                  </label>
                                </div>
                              </div>
                          
                              <div class="status edit-status">
                                <label class="checkbox-container">
                                  <input class="custom-checkbox" type="checkbox" onchange="toggleTime(this)">
                                  <span class="checkmark"></span> Calicut
                                </label>
                                <div class="time create-time">
                                  <label class="text-success">Arrival: 
                                    <input type="time" name="arrival[]" id="">
                                  </label>
                                  <label class="text-danger">Departure: 
                                    <input type="time" name="departure[]" id="">
                                  </label>
                                </div>
                              </div>

                              <div class="status edit-status">
                                <label class="checkbox-container">
                                  <input class="custom-checkbox" type="checkbox" onchange="toggleTime(this)">
                                  <span class="checkmark"></span> Calicut
                                </label>
                                <div class="time create-time">
                                  <label class="text-success">Arrival: 
                                    <input type="time" name="arrival[]" id="">
                                  </label>
                                  <label class="text-danger">Departure: 
                                    <input type="time" name="departure[]" id="">
                                  </label>
                                </div>
                              </div>

                              <div class="status edit-status">
                                <label class="checkbox-container">
                                  <input class="custom-checkbox" type="checkbox" onchange="toggleTime(this)">
                                  <span class="checkmark"></span> Calicut
                                </label>
                                <div class="time create-time">
                                  <label class="text-success">Arrival: 
                                    <input type="time" name="arrival[]" id="">
                                  </label>
                                  <label class="text-danger">Departure: 
                                    <input type="time" name="departure[]" id="">
                                  </label>
                                </div>
                              </div>

                            </div>
                            <button type="submit" class="btn btn-primary mt-2">save</button>
                          </form>
                    </div>
                </div>

                <!-- code block ends -->
            </div>
        </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
</body>

</html>