{% extends 'Administrator/base.html' %}

   

{% block content%}
        
                <!-- code block here -->

                <div class="dash-main">
                    <div class="div1 pink">
                        <i class="fa-solid fa-user-check"></i>
                        <div class="dash-main-cnt">
                            <h5>Bookings</h5>
                                <h3>540</h3>
                        </div>
                    </div>
                    <div class="div1 blue">
                        <i class="fa-solid fa-users"></i>
                        <div class="dash-main-cnt">
                            <h5>Users</h5>
                                <h3>540</h3>
                        </div>
                    </div>
                    <div class="div1 green">
                        <i class="fa-solid fa-message"></i>
                        <div class="dash-main-cnt">
                            <h5>Complaints</h5>
                                <h3>540</h3>
                        </div>
                    </div>
                    <div class="div1 yellow">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                        <div class="dash-main-cnt">
                            <h5>Alerts</h5>
                                <h3>3</h3>
                        </div>
                    </div>
                </div>
                <div class="graph">
                    <!-- <div class="bar-dgrm" id="barContainer"></div> -->
                    <div class="bar-dgrm">
                        <canvas id="userChart"></canvas>
                    </div>
                    <div class="pie-dgrm">
                        <h4>Route Booking Analysis</h4>
                        <canvas id="pieChart"></canvas>
                    </div>
                </div>
{% endblock %}

                <!-- code block ends -->
          