{% extends 'Administrator/base.html' %}
{% block content%}

                <!-- Modal -->
                <form id="routeForm" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="source" class="form-label">Source</label>
                        <input type="text" class="form-control" name="source" value="{{a.source}}">
                    </div>
                    <div class="mb-3">
                        <label for="destination" class="form-label">Destination</label>
                        <input type="text" class="form-control" name="destination" value="{{a.destination}}">
                    </div>
                    <button type="submit" class="btn btn-primary">save changes</button>
                </form>


                {% endblock %}