{% extends 'Administrator/base.html' %}
{% block content%}


           
                <!-- code block here -->
                <div class="tbl-div">
                    <h3>Routes</h3>
                    <button href="#" class="btn btn-primary add-btn" onclick="openModel()">Add new Route</button>
                    <table class="table table-primary table-striped-columns table-hover">
                        <thead>
                            <tr class="table-success">
                                <th scope="col">#</th>
                                <th scope="col">Source</th>
                                <th scope="col">destination</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in a %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{i.source}}</td>
                                <td>{{i.destination}}</td>
                                <td>
                                    <a href="/editroute/{{i.id}}" class="btn btn-primary" data-id="1" data-source="Manglore" data-destination="Coimbatore" >edit</a>
                                    <a href="/deleteroute/{{i.id}}" class="btn btn-danger"
                                        onclick="confirm('are youe sure to delete this user?')">delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              
                 <!-- Add Modal -->
                 <div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="routeModalLabel"
                 aria-hidden="true">
                 <div class="modal-dialog">
                     <div class="modal-content">
                         <div class="modal-header">
                             <h5 class="modal-title" id="routeModalLabel">Add New Route</h5>
                         </div>
                         <div class="modal-body">
                             <form id="routeForm" action="/routes" method="post">
                                {% csrf_token %}
                                 <div class="mb-3">
                                     <label for="source" class="form-label">Source</label>
                                     <input type="text" class="form-control" id="source" name="source" required>
                                 </div>
                                 <div class="mb-3">
                                     <label for="destination" class="form-label">Destination</label>
                                     <input type="text" class="form-control" id="destination" name="destination"
                                         required>
                                 </div>
                                 <button type="submit" class="btn btn-primary">Add Route</button>
                             </form>
                         </div>
                     </div>
                 </div>
             </div>
                <!-- code block ends -->
                {% endblock %}