{% extends 'Administrator/base.html' %}
{% block content%}


           
                <!-- code block here -->
                <div class="tbl-div">
                    <h3>Routes</h3>
                    <button href="#" class="btn btn-primary add-btn" onclick="openModel()">Add new Route</button>
                    <table class="table table-primary table-striped-columns table-hover">
                        <thead>
                            <tr class="table-success">
                                <th scope="col">#</th>
                                <th scope="col">Source</th>
                                <th scope="col">destination</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Manglore</td>
                                <td>Coimbatore</td>
                                <td>
                                    <a href="#" class="btn btn-primary" data-id="1" data-source="Manglore" data-destination="Coimbatore" onclick="openEditModal(this)">edit</a>
                                    <a href="#" class="btn btn-danger"
                                        onclick="confirm('are youe sure to delete this user?')">delete</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="routeModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="routeModalLabel">Edit Route</h5>
                            </div>
                            <div class="modal-body">
                                <form id="routeForm" action="#">
                                    <div class="mb-3">
                                        <label for="source" class="form-label">Source</label>
                                        <input type="text" class="form-control" id="source" name="source" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="destination" class="form-label">Destination</label>
                                        <input type="text" class="form-control" id="destination" name="destination"
                                            required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">save changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                 <!-- Add Modal -->
                 <div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="routeModalLabel"
                 aria-hidden="true">
                 <div class="modal-dialog">
                     <div class="modal-content">
                         <div class="modal-header">
                             <h5 class="modal-title" id="routeModalLabel">Add New Route</h5>
                         </div>
                         <div class="modal-body">
                             <form id="routeForm" action="#">
                                 <div class="mb-3">
                                     <label for="source" class="form-label">Source</label>
                                     <input type="text" class="form-control" id="source" name="source" required>
                                 </div>
                                 <div class="mb-3">
                                     <label for="destination" class="form-label">Destination</label>
                                     <input type="text" class="form-control" id="destination" name="destination"
                                         required>
                                 </div>
                                 <button type="submit" class="btn btn-primary">Add Route</button>
                             </form>
                         </div>
                     </div>
                 </div>
             </div>
                <!-- code block ends -->
                {% endblock %}