{% extends 'Administrator/base.html' %}
{% block content%}

                <!-- code block here -->
                <div class="tbl-div">
                    <h3>Stations</h3>
                    <button href="#" class="btn btn-primary add-btn" onclick="openModel()">Add new stations</button>
                    <table class="table table-primary table-striped-columns table-hover">
                        <thead>
                            <tr class="table-success">
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Route</th>
                                <th scope="col"></th>
            
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Manglore</td>
                                <td>Mangalore-Coimbatore</td>
                                <td>
                                    <a href="#" class="btn btn-primary" data-id="1" data-name="Manglore"
                                        data-route-id="3" onclick="openEditStationModal(this)">Edit</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <!-- Edit Modal -->
                <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="routeModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="routeModalLabel">Edit Station</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="StationForm" action="#">
                                    <div class="mb-3">
                                        <label for="route" class="form-label">Route</label>
                                        <select name="route" id="route">
                                            <option value="1">Mangalore-Coimbatore</option>
                                            <option value="2">Mangalore-Trivandrum</option>
                                            <option value="3">Coimbatore-Trivandrum</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="name" name="name" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Add Modal -->
                <div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="routeModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="routeModalLabel">Add New Route</h5>
                            </div>
                            <div class="modal-body">
                                <form id="StationForm" action="#">
                                    <div class="mb-3">
                                        <label for="destination" class="form-label">Route</label>
                                        <select name="route" id="route">
                                            <option disabled selected>--select Station--</option>
                                            <option value="1">Mangalore-Coimbatore</option>
                                            <option value="2">Mangalore-Trivandrum</option>
                                            <option value="3">Coimbatore-Trivandrum</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="source" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="name" name="name" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Add Station</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- code block ends -->
                {% endblock %}