{% extends 'Administrator/base.html' %}
{% block content%}


                <!-- code block here -->
                <div class="tbl-div">
                    <h3>trains</h3>
                    <button href="#" class="btn btn-primary add-btn" onclick="openModel()">Add new trains</button>
                    <table class="table table-primary table-striped-columns table-hover">
                        <thead>
                            <tr class="table-success">
                                <th scope="col">#</th>
                                <th scope="col">train No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Route</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in d %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{i.train_number}}</td>
                                <td>{{i.train_name}}</td>
                                <td>{{i.ROUTE_ID.source}} - {{i.ROUTE_ID.destination}}</td>
                                <td>
                                    <a href="/viewstatus" class="btn btn-primary">View status</a>
                                    <a href="/status" class="btn btn-warning">create status</a>
                                    
                                    <a href="/edittrain/{{i.id}}" class="btn btn-primary">Edit</a>
                                    <a href="/deletetrain/{{i.id}}" class="btn btn-danger" onclick="return confirm('are you sure you want to delete')">Delete</a>
                                </td>
                            </tr>
                         {%endfor%}
                        </tbody>
                    </table>
                </div>

               

                <!-- Add Modal -->
                <div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="routeModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="routeModalLabel">Add New Train</h5>
                            </div>
                            <div class="modal-body">
                                <form id="StationForm" action="/trains" method="post">
                                {%csrf_token%}
                                    <div class="mb-3">
                                        <label for="destination" class="form-label">Route</label>
                                        <select name="ROUTE_ID" id="route">
                                            <option disabled selected>--select Station--</option>
                                            {% for i in a %}
                                            <option value='{{i.id}}'>{{i.source}} - {{i.destination}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="source" class="form-label">Train No.</label>
                                        <input type="number" class="form-control" id="number" name="train_number" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="source" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="name" name="train_name" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Add Train</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- code block ends -->
                {% endblock %}