


{% extends 'Administrator/base.html' %}
{% block content%}

                <!-- code block here -->
                <div class="tbl-div">
                    <h3>Users</h3>
                    <table class="table table-primary table-striped-columns table-hover">
                        <thead>
                            <tr class="table-success">
                              <th scope="col">#</th>
                              <th scope="col">Name</th>
                              <th scope="col">Username</th>
                              <th scope="col">Email</th>
                              <th scope="col">Mobile</th>
                              <th scope="col"></th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in a %}
                            <tr>
                              <th scope="row">{{forloop.counter}}</th>
                              <td>{{i.Fullname}}</td>
                              <td>{{i.mobile}}</td>
                              <td>{{i.email}}</td>
                              <td>{{i.address}}</td>
                              <td>{{i.aadharnumber}}</td>
                              <td>{{i.gender}}</td>
                              <td>{{i.age}}</td>
                              <td>
                                 <a href="#" class="btn btn-primary">edit</a>
                                 <a href="#" class="btn btn-danger" onclick="confirm('are youe sure to delete this user?')">delete</a>
                              </td>
                            </tr>
                            {% endfor %}
                         

                          </tbody>
                    </table>
                </div>
                <!-- code block ends -->
            </div>
        </div>


    </div>

{% endblock %}