{% load static %}

    <title>Bootstrap Sidebar Toggler</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">


                <!-- code block here -->
                <div class="view-div">
                    <div class="head">
                        <h5>Train Name: <span>Vande Bharath</span></h5>
                        <h5>Train No: <span>12234</span></h5>
                        <h5>Route: <span>Mangalore-Coimbatore</span></h5>
                    </div>
                    <div class="head">
                        <form action="#" style="text-align: center;">
                            <h4>Stations</h4>
                            <div class="status-div">
                                <!-- loop here -->
                                <div class="status">
                                    <label class="checkbox-container">
                                        <input class="custom-checkbox"  type="checkbox" checked onclick="return false;">
                                        calicut
                                    </label>
                                   <div class="time">
                                    <p class="text-success">Arrivel: <span>9.30</span></p>
                                    <p class="text-danger">Departure: <span>21.00</span></p>
                                   </div>
                                </div>
                                <div class="status">
                                    <label class="checkbox-container">
                                        <input class="custom-checkbox"  type="checkbox" checked onclick="return false;">
                                        calicut
                                    </label>
                                   <div class="time">
                                    <p class="text-success">Arrivel: <span>9.30</span></p>
                                    <p class="text-danger">Departure: <span>21.00</span></p>
                                   </div>
                                </div>
                                <div class="status">
                                    <label class="checkbox-container">
                                        <input class="custom-checkbox"  type="checkbox" checked onclick="return false;">
                                        calicut
                                    </label>
                                   <div class="time">
                                    <p class="text-success">Arrivel: <span>9.30</span></p>
                                    <p class="text-danger">Departure: <span>21.00</span></p>
                                   </div>
                                </div>
                                <div class="status">
                                    <label class="checkbox-container">
                                        <input class="custom-checkbox"  type="checkbox" checked onclick="return false;">
                                        calicut
                                    </label>
                                   <div class="time">
                                    <p class="text-success">Arrivel: <span>9.30</span></p>
                                    <p class="text-danger">Departure: <span>21.00</span></p>
                                   </div>
                                </div>
                                <div class="status">
                                    <label class="checkbox-container">
                                        <input class="custom-checkbox"  type="checkbox" checked onclick="return false;">
                                        calicut
                                    </label>
                                   <div class="time">
                                    <p class="text-success">Arrivel: <span>9.30</span></p>
                                    <p class="text-danger">Departure: <span>21.00</span></p>
                                   </div>
                                </div>
                            </div>

                            
                        </form>
                    </div>
                </div>

                <!-- code block ends -->
            </div>
        </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
</body>

</html>